{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }} 
    
   
{{ end }}

{{ define "main" }}

    <div class="container">
        <div class="card-text browser-default">{{ .Content }}</div>
        <ul class="collapsible">

        {{ range .Site.Data.producteur }}
        
            <li>
              <div class="collapsible-header row"><div class="col s2"><i class="{{ .icone}} " style="font-size: 50px"></i></div ><div class="col s10"><h5>{{ .nom | markdownify }}</h5></div></div>
                
                <div class="collapsible-body lime lighten-4"><span>
                    <H6>{{ .text | markdownify }}</h6> 
                    <ul>
                        {{if .fiche}}
                        <li><div><a href="https://drive.google.com/file/d/{{ .fiche}}/view" target="_blank">Fiche descriptive</a></div></li>
                        {{end}}
                        {{ $count :=0}}
                        {{ range .certificats}}
                         <li>   {{ $count =   add $count 1}}
                    <div> <a href="https://drive.google.com/file/d/{{ .  }}/view" target="_blank">Certificat bio N° {{$count}}</a></div>
                        </li>{{end}}
                        <li><div> <a href="{{ .modalites | safeURL}}" target="_blank">Modalités</a></div></li>
                        {{if .site}}
                        <li><div>Le site internet du producteur : <a href="https://{{ .site | safeURL }}" target="_blank">{{.site | safeURL}}</a></div></li>
                        {{end}}
                    </ul>
                    <h6 >Référent.e : </h6>
                    {{.referent}}</br>
                    {{.adresse_ref}}
                </span></div>

            </li>
            
        {{ end }}
    </ul>
    </div>
   
{{ end }}
