{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }} 
    
   
{{ end }}

{{ define "main" }}

    <div class="container">
        <p class="card-text">{{ .Content }}</p>
        <ul class="collapsible">

        {{ range .Site.Data.producteur }}
        
            <li>
              <div class="collapsible-header"><i class="{{ .icone}} " style="font-size: 40px"></i><p ><h5>{{ .nom | markdownify }}</h5></div>
                
                <div class="collapsible-body"><span>
                    <div>{{ .text | markdownify }}</div> 
                    <ul>
                        
                        {{ $count :=0}}
                        {{ range .certificats}}
                         <li>   {{ $count =   add $count 1}}
                    <div> <a href="https://drive.google.com/file/d/{{ .  }}/view" target="_blank">Certificat {{$count}}</a></div>
                        </li>{{end}}
                        <li><div> <a href="https://drive.google.com/file/d/{{ .modalites}}/view" target="_blank">Modalités</a></div></li>
                        {{if .site}}
                        <li><div>Le site internet du producteur : <a href="https://{{ .site | safeURL }}" target="_blank">{{.site | safeURL}}</a></div></li>
                        {{end}}
                    </ul>
                    Référent.e : </br>
                    {{.referent}}</br>
                    {{.adresse_ref}}
                </span></div>

            </li>
            
        {{ end }}
    </ul>
    </div>
   
{{ end }}
