<!DOCTYPE html>
<html lang="{{.Site.Language.Lang }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {{- partial "seo_schema" . -}}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="row">

            
            <div class="parallax-container valign-wrapper">
                
                <div class="parallax"><img src="img/coccinelle-4.jpg"></div>
                <div class="container">
                    <div class="row center">
                    <h5 class="header col s12 light"># AmapetiteCagette

                        Une AMAP bio à Chartres</h5>
                    </div>
                </div>              
            </div>
        
        
        
            <div class="col s6 offset-s3"><span class="flow-text">
                {{.Content}}
            </span></div>
        </div>
    
        {{- partial "footer.html" . -}}
        {{- partial "js.html" . -}}
        <script>
            $(document).ready(function(){
    $('.parallax').parallax();
  });
          </script>
    </body>
</html>
